<div>
    <h2>
        <span>Grv Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-grv-item-grv" [routerLink]="['/', { outlets: { popup: ['grv-item-grv-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Grv Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="grvItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span>Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span>End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validToDateString"><span>Valid To Date String</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validToDate"><span>Valid To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="externalid"><span>Externalid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="info"><span>Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docnr"><span>Docnr</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceId"><span>Source</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span>Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sourceArchiveId"><span>Source Archive</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let grvItem of grvItems ;trackBy: trackId">
                <td><a [routerLink]="['../grv-item-grv', grvItem.id ]">{{grvItem.id}}</a></td>
                <td>{{grvItem.startDate | date:'medium'}}</td>
                <td>{{grvItem.endDate | date:'medium'}}</td>
                <td>{{grvItem.validToDateString}}</td>
                <td>{{grvItem.validToDate | date:'medium'}}</td>
                <td>{{grvItem.externalid}}</td>
                <td>{{grvItem.info}}</td>
                <td>{{grvItem.docnr}}</td>
                <td>{{grvItem.createdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="grvItem.sourceId">
                        <a [routerLink]="['../source-grv', grvItem.sourceId  ]" >{{grvItem.sourceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="grvItem.locationId">
                        <a [routerLink]="['../location-grv', grvItem.locationId  ]" >{{grvItem.locationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="grvItem.sourceArchiveId">
                        <a [routerLink]="['../source-archive-grv', grvItem.sourceArchiveId  ]" >{{grvItem.sourceArchiveId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../grv-item-grv', grvItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grv-item-grv/'+ grvItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grv-item-grv/'+ grvItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
