
<div *ngIf="error">
    <h2><span>Error</span> {{error.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{error.title}}</span>
        </dd>
        <dt><span>Msg</span></dt>
        <dd>
            <span>{{error.msg}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{error.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span>Source</span></dt>
        <dd>
            <div *ngIf="error.sourceId">
                <a [routerLink]="['/source-grv', error.sourceId]">{{error.sourceId}}</a>
            </div>
        </dd>
        <dt><span>Item</span></dt>
        <dd>
            <div *ngIf="error.itemId">
                <a [routerLink]="['/grv-item-grv', error.itemId]">{{error.itemId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'error-grv/'+ error.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
