version: '2'
services:
    grvapplication-app:
        image: grvapplication
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://grvapplication-mysql:3306/grvapplication?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    grvapplication-mysql:
        extends:
            file: mysql.yml
            service: grvapplication-mysql
